/* ADD YOUR STYLES HERE */

*{
	box-sizing: border-box;
}
/* FORMS */

.form-label {
	display: inline-block;
	min-width: 160px;
	padding-right: 25px;
	text-align: right;
}

.form-label-inline {
	padding-right: 10px;
}


.form-field {
	width: 300px;
	max-width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;

}

.form-offset {

	margin-left: 160px;
	margin-top: 5px;

}

.text-medium {
	width: 165px;


}

.text-small {
	width: 50px;
}






/* VALIDATION */

.form .invalid-field {
    box-shadow: 0 0 5px #d45252;
    border-color: #d45252;
}

.form .valid-field {
    box-shadow: 0 0 5px #1bff45;
    border-color: #1bff45;
}

.is-invalid {
	color: #d45252;
}

.is-valid{
	color: #1bff45;
}


/* SEARCH BAR */


.search-bar{

	width: 100%;
	height: 60px;

	padding-left: 100px;
	padding-right: 105px;

	background: #d5d5d5;
	border: 1px solid #999999;
	border-radius: 10px;

}

.column {
	float: left;
}

.left {
	width: 90px;
	margin-left: -90px;
	margin-top: 20px;
	padding-left: 3px;

}

.center {
	width: 100%;
	margin: 16px 5px;
}

.search-bar-input {
	border-radius: 5px;
	border: 1px solid #ccc;
	height: 25px;
}


.right {
	width: 90px;
	height: 25px;
	margin-right: -120px;
	margin-top: 16px;

	background-color: #e06d77;
	color: #fff;
	border: 0;
	border-radius: 5px;
}


.search-bar-input {
	width: 100%;
}

/* OMNIBOX */

.omnibox {
	position: relative;
}

.omnibox-list {

	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 2px;
	left: 2px;
}

.omnibox-tag {
	display: inline-block;
	background-color:#6f6ff0;
	color: #fff;
	font-size: 0.75em;
	border-radius: 5px;
	padding: 3px;
	margin-right: 3px;
}

.omnibox-tag a {
	text-decoration: none;
	color: #fff;
	background-color: #5555b4;
	padding: 1px 3px;
	margin-right: 3px;
	border-radius: 3px;
}

.omnibox-input {

	padding-left: 205px;
}

/* CHUNKY LISTS */

.chunky-list {

	width: 600px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.chunky-list-bg {

	background: #ccc;
	background: -webkit-linear-gradient(#fff, #ccc);
	background:    -moz-linear-gradient(#fff, #ccc);
	background:         linear-gradient(#fff, #ccc);

	padding: 10px;
}

.chunky-list-title {
	font-size: 0.9em;
	font-weight: 700;
	padding: 0;
	margin: 0;
}

.chunky-list-wrapper{
}
.chunky-list-items{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.chunky-list-item {
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

.chunky-list-item a{

	text-decoration: none;
}

.chunky-list-icon {
	float: left;
	width: 15px;
	color: transparent;
	background: url("repo-icon.png") 0 0 no-repeat;
}

.chunky-list-link {
	font-weight: 700;
	font-size: 0.9em;
}

.chunky-list-wrapper{
	overflow: hidden;
	padding: 0 10px;

}

.chunky-list-description{
	color: #000;
	font-size: 0.8em;
	padding: 3px 0;
}

.chunky-list-padded{
	padding: 10px;
}

